.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.lo{
  float: left;
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 150px;
  
}
.menu{
  float: right;
  position:absolute;
  top: 50px;
  right:50px;
  bottom:10px;
  height: 50px;
  
}
.img1{
  float: left;
  margin-top: 0px;
  padding: 40px;
  
}
.cont1{
  text-align: center;
  margin-left: 500px;
  padding-top: 50px;
}
.cont2{
  margin-top: 400px;
  border-radius: 30px;
}
.cont3{
  margin-top: 400px;
  border-radius: 30px;
  margin-bottom: 400px;
}
.img2{
  float:left;
  margin-top: 50px;
  padding: 30px;
}
.img3{
  float:left;
  margin-bottom: 0px;
  padding:40px;

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Section styling */
.section {
  padding: 60px 0;
  text-align: center;
}
.contact {
  background:color-mix(in hsl shorter hue, lightgray,white);
}
/* Contact form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

form input, form textarea {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
}

form button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styling */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
